<ng-container *ngIf="isSucces">
<div>
<div>
  <div id="success-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message">
      <h1 class="alert">Success!</h1>
    </div>
    <button class="button-box" [routerLink]="['/events']">
      <h1 class="green">continue</h1>
    </button>
  </div>
</div>
</div>
</ng-container>
<ng-container *ngIf="!isSucces">
  <div  class="min-h-screen flex justify-center items-center bg-white">
    <div class="loader bg-black p-5 rounded-full flex space-x-3">
      <div class="w-5 h-5 bg-gray-100 rounded-full animate-bounce"></div>
      <div class="w-5 h-5 bg-gray-100 rounded-full animate-bounce"></div>
      <div class="w-5 h-5 bg-gray-100 rounded-full animate-bounce"></div>
    </div>
  </div>
</ng-container>
